<div fxLayout fxLayoutAlign='center center'>
  <div class="parent-welcome responsive" fxLayout='row wrap' fxLayoutAlign='space-between center' fxLayoutGap='30px'
    fxLayoutGap.xs=0>
    <div class="card" fxFlex fxFlex.xs=100>
      <div class="card-text welcome-text">
        Welcome Leo <span class="card-text-bold">Langlois.</span>
      </div>
      <div class="card-text">
        We're super excited to have you on board
      </div>
    </div>
    <mat-card fxFlex.sm=300px fxFlex.xs=100 class=" card appointment-card">
      <div class="appointment-text">
        Upcoming Appointments      </div>
    </mat-card>


  </div>
</div>