<div class="search-card">
  <div class="first-row" fxLayout fxLayout.xs='column' fxLayoutAlign='start center'>
    <img class="profile" src="../../../assets/image/tanya.jpg" alt="">
    <div fxFlexOffset=20px>
      <div class="name">
        Dr. John Diego, <span class="age"> M()</span>
      </div>
      <div class="specialist">
        M. D. Medicine, Children Specialist
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="second-row"  fxLayout='row wrap' fxLayoutAlign='space-between center'>
    <div class="place" fxFlex=45 fxFlex.xs=100  fxLayout fxLayoutAlign='start center'>
      <mat-icon class="icon">place</mat-icon>
      <div class="place-txt">Oakland, California</div>
    </div>
    <div class="place" fxFlex=45 fxFlex.xs=100 fxLayout fxLayoutAlign='start center'>
      <mat-icon class="icon">corporate_fare</mat-icon>
      <div class="place-txt">Oakland, California</div>
    </div>
    <div class="place" fxFlex=45 fxFlex.xs=100 fxLayout fxLayoutAlign='start center'>
      <mat-icon class="icon">payment</mat-icon>
      <div class="place-txt">Oakland, California</div>
    </div>
    <div class="place" fxFlex=45 fxFlex.xs=100 fxLayout fxLayoutAlign='start center'>
      <mat-icon class="icon star">star_rate</mat-icon>
      <div class="place-txt">Oakland, California</div>
    </div>
  </div>
</div>